#root {
  width: 100vw;
  height: 100vh;
}

.btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--accent);
  color: var(--text-dark);
}

.btn-primary:hover {
  background-color: var(--button-hover);
  border: 2px solid var(--accent);
}

.btn:active {
  background-color: var(--accent) !important;
  border: 2px solid var(--primary) !important;
}
